# Virtual Environment
venv/
env/
.venv/

# MLflow
mlruns/
mlartifacts/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Model files
*.pkl
*.h5
*.pth
*.onnx
