persistence:
  enabled: true
  storageClass: "jenkins-ebs-sc-auto-mode"
  accessMode: "ReadWriteOnce"
  size: "8Gi"

# Add toleration for system nodes
tolerations:
  - key: "CriticalAddonsOnly"
    operator: "Exists"
    effect: "NoSchedule"
