.terraform/
.terragrunt-cache/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
backend.tf
provider.tf
versions_override.tf
locals.tf
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
